#graphingCalc {
  border: 1px solid black;
  margin: 5px;
  width: 600px;
  background-color: #e1f5fe;
  border-radius: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

#loading img{
  width: 600px;
}
#loading h1{
  margin: 25px;
}

#homeOutput {
  width: 550px;
  height: 550px;
  overflow-y: auto;
  overflow-x: fragments;
  border: 1px solid black;
  margin: 25px;
  background-color: white;
  border-radius: 2px;
  padding: 15px;
  font-size: 1.5em;
  color: black;
}

input[type="text"]{
  display: block;
  border: 1px solid black;
  width: 550px;
  margin: 25px;
  padding: 5px;
  border-radius: 2px;
  font-size: 2em;
  color: black;
}

#canvasContainer{
  width: 550px;
  height: 550px;
  border-radius: 2px;
  overflow: hidden;
  margin: 25px;
  border: 1px solid black;
}

canvas {
  width: 550px;
  height: 550px;
  overflow-y: auto;
  margin: 0;
  background-color: white;
}

.btn-group {
  border: 1px solid black;
  width: 550px;
  display: flex;
  justify-content: space-between;
  margin: 25px;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
}

.subtle {
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  padding: 0;
}

.btn{
  background-color: #4fc3f7;
  color: black;
  font-size: 1.45em;
  border-radius: 2px !important;
}
.btn:hover{
  color: black;
  background-color:#03a9f4;
}
.btn:active {
  background-color:#0288d1;
}

#buttons a {
  color: black;
  font-size: 1.45em;
  background-color: #e1f5fe;
}
#buttons a:hover {
  background-color: #4fc3f7;
  z-index: 1;
}
#buttons a:active {
  background-color: #0288d1;
  z-index: 1;
}

.popup{
  background-color: #b0bec5;
  border-radius: 2px;
  border: 1px solid black;
  position: absolute;
  left:105px;
  margin-top: 105px;
  width: 400px;
  padding: 5px;
  z-index: 777;
}

.popup input[type=text]{
  font-size: 1em;
  width: 150px;
  display: inline;
  margin:5px;
}

#windowPopup label {
  width: 50px;
}

.saveButton{
  font-size: 1em;
  background-color: #37474f;
  color: white;
  font-weight: bold;
}
.saveButton:hover{
  background-color: black;
  color: white;
}
.saveButton:active{
  font-weight: 900;
  color: white;
  background-color: black;
}

iframe{
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 350px;
}

#tableContainer{
  width: 390px;
  overflow: auto;
}
table{
  width: 390px;
  margin-bottom: 5px;
}
tr{
  text-align: center;
}
th{
  text-align: center;
}
td{
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}
